@charset "UTF-8";

form {
	margin: 0 auto;
	align-content: center;
}

select {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	
	max-width: 550px;
	min-width: 250px;
}

.form input {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.form input[type=text], .form input[type=password], .form input[type=submit], .form input[type=reset], .form input[type=time] {
  width: 100%;
  padding: 10px 28px;
  margin: 8px 0;
  display: inline-block;
}


.form input[type=date] {
  padding: 10px 28px;
  min-width: 200px;
  max-width: 250px;
  margin: 8px 0;
  display: inline-block;
}

.form textarea {
	width: 100%;
	height: 70px;
	padding: 10px 28px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

.form label {
	font-weight: bolder;
	margin: 25px 0;
}

.form .group-inline {
	display: flex;
	justify-content: space-between;
}

