@charset "UTF-8";
@import "buttons.css";
@import "forms.css";
@import "menu.css";
@import "tables.css";

body {
	margin: 0 auto;
	background-color: white;
}

.app {
	margin-top: 75px;
	padding: 10px 20px;
}

.center {
	margin: 0 auto;
}

.content {
	padding: 5px 25px;
	margin: 15px 0;
	border-top: 2px solid lightgrey;
	height: 100%;
}

.aditionals {
	display: flex;
	justify-content: end;
}

h1.title {
	text-align: center;
}


.hide-element {
	display: none
}

.error_msg {
	color: red;
	font-weight: bolder;
}

.success_msg {
	color: green;
	font-weight: bolder;
}

.file-list {
	padding: 15px;
	max-height: 250px;
	overflow: auto;
}

.align-right {
	text-align: right;
}

.flex {
	display: flex;
}

.flex.space-between {
	justify-content: space-between;
}
